{% include 'header.html'%}
{% include 'home_header.html'%}

<form class="form-inline" action="/getExpensesData/" method="post" style="margin-top: 80px">
    <div class="container">
        <div class="form-group col-md-3">
            <label>Expense Type:</label>
            <select name="exp_type" style="padding: 3pt;border-radius: 3pt">
                <option value="All" >All</option>
                <option value="Trip">Trip</option>
                <option value="Dinner">Dinner</option>
                <option value="Hangout">Hangout</option>
                <option value="Rent">Rent</option>
                <option value="Loan">Loan</option>
                <option value="Insurence">Insurence</option>
                <option value="Home_Expenses">Home Expenses</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="from_date">From Date:</label>
            <input type="date" id="from_date" class="form-control" name="from_date" required>
        </div>
        <div class="form-group col-md-3">
            <label for="to_date">To Date:</label>
            <input type="date" id="to_date" class="form-control" name="to_date" required>
        </div>
        <div class="form-group col-md-2">
            <input type="submit" value="Get Details" class="btn btn-primary">
        </div>
    </div>
</form>
<form action="/csv/" method="post">
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;margin-left: 20px">Download Total Expenses</button>
</form>
<!--<form class="form-inline" action="/getExpensesData/" method="post">
    <div class="form-group">
      <label for="from_date">From Date:</label>
      <input type="date" class="form-control" id="from_date" name="from_date" required>
    </div>
    <div class="form-group">
      <label for="to_date">To Date:</label>
      <input type="password" class="form-control" id="to_date" name="to_date" required>
    </div>
    &lt;!&ndash;<div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>&ndash;&gt;
    <button type="submit" class="btn btn-primary">Get Details</button>
  </form>-->

<br><br><br><br>
{% if user_exp_details %}
<div align="center">
<table class="table table-striped" style="width: 80%" align="center">
    <tr>
        <td align="center" colspan="3"><b>Expenses Details</b></td>
    </tr>
    <tr>
        <th>Date</th>
        <th>Type of Expenses</th>
        <th>Amount</th>
    </tr>
    {% for record in user_exp_details %}
    <tr>
        <td>{{record.date}}</td>
        <td>{{record.type}}</td>
        <td>{{record.amount}}</td>
    </tr>
    {% endfor%}
    <tr>
        <td colspan="2" align="center">Total Expenses:</td>
        <td>{{total_expenses}}</td>

    </tr>
</table>
    </div>
{% endif %}
{% if msg %}
<div id="warn_msg" class="alert alert-warning" align="center">
  <strong >{{msg}}.</strong>
</div>
{% endif %}

<script>
      $(document).ready( function() {
          $('#warn_msg').delay(2000).fadeOut();
      });
</script>
