{% include 'header.html'%}
{% include 'home_header.html' %}

<h4 style="float: right;margin-right: 10pt;" >Welcome Mr {{user_name}}</h4>
{% if success_msg %}
<h4 class="alert alert-success">{{success_msg}}</h4>
{% endif %}
<form action="/storeExpensesData/" method="post">
    <div align="center">
        <input type="radio" class="splits" id="trip" name="exp_type" value="trip" required> Trip &nbsp;&nbsp;
        <input type="radio" class="splits" id="dinner" name="exp_type" value="dinner" required> Dinner &nbsp;&nbsp;
        <input type="radio" class="splits" id="hangout" name="exp_type" value="hangout" required> Hangout &nbsp;&nbsp;
        <input type="radio" class="hide_split" name="exp_type" value="rent" required> Rent &nbsp;&nbsp;
        <input type="radio" class="hide_split" name="exp_type" value="loan" required> Loan &nbsp;&nbsp;
        <input type="radio" class="hide_split" name="exp_type" value="insurence" required> Insurence &nbsp;&nbsp;
        <input type="radio" class="hide_split" name="exp_type" value="h_exp" required> Home Expenses &nbsp;&nbsp;
        <input type="radio" name="exp_type" value="others"> Others
    </div>
    <table align="center" >
        <tr class="split" style="display: none">
           {% for x in users_data %}
            <td>
                <input type="checkbox"  name="members" value="{{x.user_id}}"> {{x.name}}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <input type="date" name="date" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" title="Numbers Only" name="amount" required placeholder="Amount">
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $('.splits').click(function (){
        $('.split').show();
    });
    $('.hide_split').click(function (){
        $('.split').hide();
    });
</script>