{% include 'header.html'%}
{% include 'index_header.html' %}
<!--<form action="/registerData/" method="post">
    <table align="center">
        <tr>
            <td>
                {% if err_msg %}
                <div class="alert alert-danger">
                    <strong>{{err_msg}}</strong>
                </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th align="center">User Registration</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="uname" placeholder="Name" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" placeholder="Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" name="uemail" placeholder="Email" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="unumber" placeholder="Mobile Nu" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="upwd" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</form>-->

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                {% if err_msg %}
                <div class="alert alert-danger">
                    <strong>{{err_msg}}</strong>
                </div>
                {% endif %}
                <form action="/registerData/" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Registration Page
					</span>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="uname" required placeholder="Name">
						<!--<span class="focus-input100" data-placeholder="Username"></span>-->
					</div>
                    <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" required placeholder="Username">
						<!--<span class="focus-input100" data-placeholder="Username"></span>-->
					</div>
                    <div class="wrap-input100 validate-input">
						<input class="input100" type="email" name="uemail" required placeholder="Email">
						<!--<span class="focus-input100" data-placeholder="Username"></span>-->
					</div>
                    <div class="wrap-input100 validate-input">
						<input class="input100" type="number" name="unumber" required placeholder="Mobile Number">
						<!--<span class="focus-input100" data-placeholder="Username"></span>-->
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="upwd" required placeholder="Password">
						<!--<span class="focus-input100" data-placeholder="Password"></span>-->
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Register
							</button>
						</div>
					</div>
					<div class="text-center p-t-115">
						<span class="txt1">
							Already have an account?
						</span>
						<a class="txt2" href="/loginPage/">
							Signin
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>



{% include 'footer.html'%}